//_______________MES VARIABLES_______________//
$violet: #9356DC; 
$rose:#FF79DA;  
$vert:#99E2D0;
$gris : #f2f2f2;
$gradient : (to top, #9356dc, #ff79da);
/*FIN DE LA DECLARATION DE MES VARIABLES*/