//_______________DEBUT DE LA STYLISATION DES PIEDS DE PAGES_______________//
footer{
    padding-bottom: 20px;
    background-color: black;
    color: whitesmoke;
    width: 100%;

  svg{ margin-left: 10px;
      path{
           fill: whitesmoke}
          }
    }
.logoF{padding: 25px 0 0 25px}

footer a {color: whitesmoke;}
/*FIN DU PIED DE PAGE*/

